# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/*
example/example
wacli/wacli
*_winter_aop_gen.go
*~
.DS_Store
.idea
*.class
*.iml
example/quickstart/quickstart
example/tutorial/tutorial
